Box sizing rules *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}
.Header nav a:last-child {
  margin-right: 0;
  padding-right: 0;
}

.Form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.Form input {
  margin-bottom: 30px;
  padding: 10px 5px;
}

.Canvas {
  width: 40%;
  height: 40%;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
}

.Submit {
  background-color: #414741; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Submit {
  background-color: white;
  color: black;
  border: 2px solid rgb(2, 2, 39);
}

.Submit:hover {
  background-color: rgb(2, 2, 39);
  color: white;
}

.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(13, 56, 121);
  line-height: 1.3;
}

.TextLink {
  text-decoration: underline;
  font-size: 1rem;
  color: rgb(12, 11, 11);
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: rgb(0, 0, 0);
  font-size: 2rem;
}
